
    <form action="" class="mt-3">
        <div class="form-group row">
            <div class="col-2"></div>
            <label for="fechaFactura" class="col-sm-1 col-form-label">Fecha</label>
            <div class="col-sm-3">
              <input type="date" class="form-control">
            </div>
            <label for="CodigoFactura" class="col-sm-1 col-form-label">No. Factura</label>
            <div class="col-sm-3">
              <input type="number" class="form-control">
            </div>
            <div class="col-2"></div>
        </div>
        <br>
        <p style="text-align: center;">Datos Del Cliente</p>
        <app-cliente></app-cliente>
        <app-detallefactura></app-detallefactura>            
    </form>

