<div class="form-group row mt-5">
<div class="col-2"></div>
<div class="col-8">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Codigo Producto</th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">SubTotal</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
    </div>
</div>
<div class="form-group row mt-2">
    <div class="col-2"></div>
    <div class="col-8 ">
        <button type="submit" class="btn btn-info">Agregar Producto</button>
        <button type="submit" class="btn btn-info mx-2">Generar Factura</button>
    </div>
    <div class="col-2">
    </div>
</div>