<form action="">
    <div class="form-group row">
                <div class="col-2"></div>
                <label for="nombres" class="col-sm-1 col-form-label">Nombres</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                <label for="apellidos" class="col-sm-1 col-form-label">Apellidos</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                <div class="col-2"></div>
    </div>
    <div class="form-group row mt-2">
        <div class="col-2"></div>
        <label for="direccion" class="col-sm-1 col-form-label">Direccion</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
        <label for="telefono" class="col-sm-1 col-form-label">Teléfono</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
        <div class="col-2"></div>
</div>          
</form>